# Version control
.git
.gitignore

# Azure ML
.amlignore
**/.amlignore
*.amltmp
**/*.amltmp

# Python cache
__pycache__
*.pyc
*.pyo
*.egg-info

# Virtual environments
.venv
venv
env

# IDE/editor files
.vscode
.idea
*.swp

# Environment/secrets
.env
*.env

# Testing/CI
.pytest_cache
.coverage
htmlcov
.github

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Large datasets
*.csv
*.parquet

# Logs
logs/
*.log

# Images folder
screenshot/