torch==2.9.1
datasets==4.4.1
accelerate==1.11.0
tokenizers==0.22.1
peft==0.18.0
trl==0.25.1
transformers==4.57.1
scikit-learn==1.7.2
safetensors==0.6.2
pandas==2.3.3
numpy==2.3.4
protobuf==6.33.1
ai-edge-torch==0.7.0
ai-edge-litert==2.0.3
ai-edge-quantizer==0.4.0
ai_edge_tensorflow==2.21.0.dev20251110
keras-nightly==3.12.0.dev2025100703